
#Catalogo{
   
    display: flex;
    width: 620px;
    height: 100px;
    align-items: center;
    margin: 5px;
    flex-flow: nowrap;
  
}
#Catalogo1{
    padding-right: -50%;
    margin: 0px -50% 0px 0px;
    display: flex;
    flex-direction: row;
    position: relative;

    align-content: stretch;
    
}