
#Catalogo{
   
   flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 90px;
    
    
  
}
#Catalogo1{
    padding-right: -50%;
    margin: 0px -50% 0px 0px;
  
    
    position: relative;

    align-content: stretch;
    
}