body{
    background-color: #fffffff3;
    display: flex;
    justify-content: center;
}
.centro{
    
    align-items: center;
    flex-direction: column;

}
.App{
    background-color: #FCF1F1;
    width: 1000px;
    min-height: 100vh;
    padding-bottom: 50px;
}

.container{
   
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    
    
 
    
}
.MeusLivros{
    
    
   
    align-items: center;
    
    
}


.Biblioteca{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: arial;
    font-size: 15px;
}

.Avaliacoes{
    display:flex;
    align-items: center;
    flex-direction:row;
}

.Ultimas{
    margin-top: 60px;
}