body{
    background-color: #fffffff3;
    display: flex;
    justify-content: center;
}
.centro{
    display:flex;
    align-items: center;
    flex-direction: column;

}
.App{
    background-color: rgb(231, 230, 229);
    width: 800px;
    min-height: 100vh;
    padding-bottom: 50px;
}
.esquerda{
    display: flex;
    justify-content:end;
}

.container{
    display:flex;
    width: 800px;
    height: 400px;
    font-size: 20px;
    align-items: center;
    
    flex-direction: row;
    flex-wrap: wrap;
 
    
}
.MeusLivros{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    
}


.Biblioteca{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.Avaliacoes{
    display:flex;
    align-items: center;
    flex-direction:row;
}